* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: 'Roboto', -apple-system, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  width: calc(100vw - 300px);;
  height: calc(100vh - 100px);
  transform: translate(-50%, -50%);
  font-size: 14px;
  box-shadow: 1px 2px 20px #f3f3f3;
  border-radius: 10px;
  border: 1px solid #f1f1f1;

  &__sidebar {
    background-color: #f4f6f8;
    width: 220px;
    height: 100%;
    border-right: 1px solid #f1f1f1;
    padding: 60px 20px;
    box-sizing: border-box;
    border-radius: 10px 0px 0px 10px;
    transition: 0.5s filter linear;
  }

  &__tasks {
    flex: 1;
    padding: 60px;
    overflow: auto;
  }
}

.field {
  width: 100%;
  background-color: white;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px;

  &:focus {
    border-color: #c0c0c0;
  }
}

.button {
  background-color: #4dd5ca;
  color: white;
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;

  &:hover {
    background-color: darken(#4dd5ca, 6%);
  }

  &:active {
    background-color: darken(#4dd5ca, 10%);
  }

  &--grey {
    background-color: #ececec;
    color: #9C9C9C;
    
    &:hover {
      background-color: darken(#ececec, 3%);
    }

    &:active {
      background-color: darken(#ececec, 6%);
    }
  }

  &:disabled {
    background-color: #ececec;
    color: #9C9C9C;
  }
}